// Place all the styles related to the quote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.monospace {
  font-family: monospace;
}

.no-style-link {
  color: rgb(51, 51, 15);
}

//quotes#new
textarea#quote_body {
  width: 100%;
  font-family: monospace;
}
